:root {
  --clr-red: hsl(4, 100%, 67%);
  --clr-bg-red: hsla(4, 100%, 67%, 0.15);

  --clr-blue-800: hsl(234, 29%, 20%);
  --clr-blue-700: hsl(235, 18%, 26%);
  --clr-grey: hsl(0, 0%, 58%);
  --clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-blue-700);
  color: var(--clr-blue-800);
}

/* img {
  width: 100%;
} */

.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--clr-white);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  max-width: 900px;
}

.card__img img {
  width: 100%;
  display: block;
}

.card__content {
  padding: 20px;
}

.card__title {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  margin-bottom: 1rem;
  line-height: 1em;
  font-weight: 700;
}

.card__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

.features {
  list-style: none;
  padding: 1.5rem 0;
}

.features__item {
  padding-left: 2rem;
  line-height: 24px;
  position: relative;
  margin-bottom: 0.5rem;
}

.features__item::before {
  content: url("./assets/images/icon-list.svg");
  position: absolute;
  top: 4%;
  left: 0;
}
.form__header {
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.form__error-text {
  font-weight: bold;
  color: var(--clr-red);
}

.form__input {
  padding: 1em 1.25em;
  font-size: 1rem;
  width: 100%;
  border: 1px solid var(--clr-grey);
  outline: none;
  border-radius: 6px;
  font-family: inherit;
}

.form__input.invalid {
  border-color: var(--clr-red);
  color: var(--clr-red);
  background-color: var(--clr-bg-red);
}

.form__input::placeholder {
  color: var(--clr-grey);
}

.button {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding: 1.15em 0;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--clr-blue-800);
  color: #fff;
  font-weight: 700;
  transition: background-image 0.5s linear;
}

.button:hover,
.button:active,
.button.active {
  background-image: linear-gradient(45deg, #ff527b, #ff6a3a);
}

.button--primary {
  margin-top: 1.5em;
}

.card-success {
  min-height: 100%;
  height: 100%;
  padding: 6.25rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.success-img {
  width: 40px;
  margin-bottom: 0.5rem;
}

.success__title {
  font-size: clamp(2.25rem, 6vw, 3.5rem);
  line-height: 1em;
}

.success__text {
  line-height: 24px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
    border-radius: 30px;
  }
}

@media (min-width: 780px) {
  .card {
    display: flex;
    flex-direction: row;
  }

  .card__img {
    order: 2;
  }

  .card__content {
    order: 1;
    padding: 40px 40px 20px;
  }

  .card-success {
    padding: 60px;
    max-width: 500px;
    min-height: auto;
  }

  .success-img {
    width: 54px;
  }
}

/* Utils Classes */
.hide {
  display: none;
}
