@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-gray-500: hsl(234, 12%, 34%);
  --clr-neutral-gray-400: hsl(212, 6%, 44%);
  --clr-neutral-white: hsl(0, 0%, 100%);
}

.light-title {
  font-weight: 300;
  color: var(--clr-neutral-gray-400);
}

.bold-title {
  color: var(--clr-neutral-gray-500);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--col-gap);
}

.main {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.content-section {
  padding: 3em 0;
  text-align: center;
}

.content-title {
  font-size: 1.375rem;
  font-weight: 600;
}

.content-section p {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 1em auto 0 auto;
  max-width: 540px;
  color: var(--clr-neutral-gray-500);
}

.card-section {
  --col-gap: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background-color: var(--clr-neutral-white);
  padding: 1.25em 1.75em;
  border-radius: 5px;
  border-top: 4px solid var(--border-clr);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
}

.card__title {
  font-size: 1.25rem;
  color: var(--clr-neutral-gray-500);
  font-weight: 600;
}

.card p {
  font-size: 0.825rem;
  margin-top: 0.25em;
  color: var(--clr-neutral-gray-400);
  font-weight: 400;
}

.card__img {
  display: block;
  text-align: end;
  padding: 2em 0 1.5em 0;
}

@media (min-width: 778px) {
  .content-title {
    font-size: clamp(1.375rem, 3vw, 2.375rem);
  }

  .content-section p {
    font-size: clamp(0.875rem, 3vw, 1rem);
  }

  .card-section {
    flex-direction: row;
    align-items: center;
  }

  .card {
    flex: 1;
  }

  .flex {
    flex: 1.2;
  }

  .card p {
    font-size: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
